.image_grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0px; /* Adjust the gap between images */
  width: 100%;
  height: 100vh;
}

.image_grid img {
  width: 100%;
  height: 100%;
  object-fit:cover;
}
