body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: black;
}

.image_grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0px; /* Adjust the gap between images */
  width: 100vw;
  height: 90vh;
}

.image_container {
  width: 100%;
  height: 100%;
  overflow:hidden;
  box-sizing: border-box;
}

.image_grid img {
  width: 100%;
  height: 100%;
  object-fit:cover;
}

.focused {
  border: 4px solid lightskyblue; /* Or any other style to show focus */
}

.top_bar {
  height: 10vh;
}
